<li>
	{{name}}

	{{#if devour}}<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		DEVOUR IT!!
	</button>{{/if}}

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>